<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa fa-fw fa-home"></i>Property Central</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" id="home" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="about" href="{{ url_for('about') }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Add" href="{{ url_for('properties') }}">New Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="View" href="{{ url_for('property_list') }}">Properties </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

